/* vars */
.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border: 3px solid #b99b25;
  border-radius: 50%; }

.spinner:before, .spinner:after {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  background-color: #b99b25;
  border-radius: 1.5px;
  transform-origin: 50% 0%; }

.spinner:before {
  height: 9px;
  left: 13.5px;
  top: 50%;
  animation: spin 2000ms linear infinite; }

.spinner:after {
  height: 12px;
  left: 13.5px;
  top: 50%;
  animation: spin 500ms linear infinite; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

body {
  background: black; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@font-face {
  font-family: 'ss-sb';
  src: url("fonts/ss-sb.eot");
  src: url("fonts/ss-sb.eot?#iefix") format("embedded-opentype"), url("fonts/ss-sb.woff") format("woff"), url("fonts/ss-sb.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

.canvas-container {
  width: 400px;
  height: 400px; }

#topicChart {
  /*	width: 400px;
	height: 400px;*/ }

ul {
  list-style-type: none;
  display: none;
  top: 100px;
  left: 30px;
  z-index: 1000000000000;
  width: 300px;
  height: 600px;
  position: fixed; }

.bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: 'ss-sb';
  font-size: 12px;
  z-index: 100000000;
  display: none;
  color: white;
  opacity: .4; }

.arrow-container {
  margin-left: -6px;
  margin-top: 20px; }

.left-arrow {
  background-image: url(images/left.svg);
  width: 30px;
  margin-left: 0px;
  position: absolute;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer; }
  .left-arrow:hover {
    background-image: url(images/lefthover.svg); }

.right-arrow {
  background-image: url(images/right.svg);
  width: 30px;
  margin-left: 20px;
  position: absolute;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer; }
  .right-arrow:hover {
    background-image: url(images/righthover.svg); }

.menucircle {
  max-width: 20px;
  height: 20px;
  background-image: url("images/circlejerk.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  margin-top: 10px; }
  .menucircle:hover {
    width: 20px;
    height: 20px;
    background-image: url("images/circlejerkhover.svg"); }

.storycircle {
  background-image: url("images/circlefullhover.svg") !important; }
  .storycircle:hover {
    background-image: url("images/circlefull.svg") !important; }

.menucircle div {
  font-family: 'ss-sb', sans-serif;
  position: absolute;
  white-space: nowrap;
  display: none;
  font-size: 14px;
  background: black;
  color: white;
  margin-left: 30px;
  top: 4px; }

.menucircle:hover > div {
  display: block; }

h1 {
  color: white; }

p {
  font-family: 'Lora', serif; }

.pontlogo {
  width: 425px;
  margin-top: 200px;
  margin-left: 100px;
  opacity: 0; }

.character-introduction {
  width: 100%;
  height: 100%;
  background: #000000;
  position: fixed;
  z-index: 100000000;
  text-align: center;
  padding-top: 300px;
  top: 0;
  color: white; }

.character-time {
  font-family: 'Lora', serif;
  font-size: 22px;
  margin-bottom: 10px;
  color: #a0a0a0;
  opacity: 1;
  animation: fadein 2s; }

.character-function {
  font-family: ss-sb;
  font-size: 72px;
  opacity: 1;
  animation: fadein 2s; }

.pontquote {
  font-family: 'Lora', serif;
  font-size: 28px;
  position: fixed;
  color: white;
  text-align: center;
  position: fixed;
  right: 50%;
  margin-right: -250px;
  width: 500px;
  top: 40%;
  height: 500px;
  z-index: 10000; }

.details_quote {
  font-family: 'ss-sb';
  margin-top: 10px;
  font-size: 20px; }

.pontintroduction {
  width: 425px;
  margin-left: 100px;
  color: white;
  line-height: 26px;
  font-size: 16px;
  opacity: 0; }

.gradient {
  height: 100%;
  width: 258px;
  top: 0;
  left: 0;
  background-image: url("images/gradient.png");
  position: absolute;
  background-repeat: repeat-y; }

.start-button {
  background: white;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  margin-left: 100px;
  color: black;
  opacity: 0; }
  .start-button:hover {
    background: black;
    color: white;
    cursor: pointer; }

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity; }

/*
.video-een {
	display: none;
}*/
* {
  box-sizing: border-box; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#vidtop-content {
  top: 0;
  color: #fff; }

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2; }

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem; }
  .vid-info h1 {
    margin-bottom: .2rem; } }

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none; } }
